<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logginExample</title>
    <script src="postMethod.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        h1 {
            margin: 20px;
        }
        section {
            padding: 20px;
        }
        #btnLogin {
    width:  30px; 
    height: 10px; 
}
    </style>
</head>
<body>
    <header>
        <h1>New Page</h1>
        <form id="loginForm">
        <input type="text" name="username" required>
         User
        </input>
        <input type="password" name="password" required>
         Password
        </input>
        <button type="submit" id ="btnLogin"></button></form>
    </header>
</body>
</html>
