<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="principal.css">
  <link rel="stylesheet" href="barraLateral.css">
  <link rel="stylesheet" href="secciones.css">
  <link rel="stylesheet" href="pie.css">
  <script src="script.js" ></script>
  <title>Layout Responsivo</title>
</head>
<body>
  <div class="caja">
   <section class="contenedor">
    <aside class="barra-lateral">
      <div id="barraSelector">
       <div id="toMain" class="selector">
        <canvas id='mainIcon' class='selectorCanvas'>
        </canvas> 
       </div>
       <div id="toMe" class="selector">
        <canvas id='meIcon' class='selectorCanvas'>
        </canvas> 
       </div>
       <div id="toSkills" class="selector">
        <canvas id='skillsIcon' class='selectorCanvas'>
        </canvas> 
       </div>
       <div id="toProjects" class="selector">
        <canvas id='projectsIcon' class='selectorCanvas'>
        </canvas> 
       </div>
      </div>
    </aside>

    <section class="zona-principal">
      <div class="menus" id="main">
       <p>enter</p>
      </div>
      <div class="menus" id="me">
       <span class='title'>About Me</span>
       <span id='personalInfo' class='sectionText'></span>
       <span id='personalLinks' class='sectionText'>
        Contact:<br/>
        -------------
        <br/>
        Github:<a href='https://github.com/Calana2'>https://github.com/Calana2</a><br/>
        ProtonMail:<u>Protoncala@proton.me</u><br/>
        LinkedIn:<a href='www.linkedin.com/in/kevin-calaña-52647a294'>www.linkedin.com/in/kevin-calaña-52647a294</a><br/>
       </span>
      </div>
      <div class="menus" id="skills">
       <p>Habilidades</p>
      </div>
      <div class="menus" id="projects">
       <p>Proyectos</p>
      </div>
    </section>  

   </section> <!--Contenedor-->
    <footer class="mainFooter">
     <div id="bordes">
      <span id='frase'>there must be an error if you are seeing this and not a cool quote</span>
      </div>
    </footer>
  </div>
</body>
</html>
